@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Roboto", sans-serif;
  position: relative;

}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

button {
  text-transform: capitalize;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button.MuiButtonBase-root {
  height: 48px;
  font-size: 18px;
  text-transform: capitalize !important;
}
